*
      {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      }
      .container{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content:center;
      }
      .box{
        height: 500px;
        width: 600px;
        /* background-color: red; */
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        background-color: aquamarine;
      }
      .content{
        height: 10%;
        width: 90%;
        background-color: white;
        border: 2px solid black;
        border-radius: 30px;
        position: relative;
      }
      .heading{
        font-size: 30px;
        font-weight: 800;
        animation: color_change 2s infinite;
        -webkit-text-stroke: 2px rgb(12, 11, 11);
      }
      .content::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 30px;
        top: 0;
        left: 0;
        background-color: hwb(293 0% 0%);
        animation: progress 2s infinite linear;
      }
      @keyframes progress{
        0%{
          width: 0%;
        }
        10%{
          width: 10%;
        }
        20%{
          width: 20%;
        }
        30%{
          width: 30%;
        }
        40%{
          width: 40%;
        }
        50%{
          width: 50%;
        }
        60%{
          width: 60%;
        }
        70%{
          width: 70%;
        }
        80%{
          width: 80%;
        }
        90%{
          width: 90%;
        }
        100%{
          width: 100%;
        }
      }
      @keyframes color_change {
        0%{
          color: yellow;
        }
        20%{
          color: red;
        }
        40%{
          color: violet;
        }
        60%{
          color: green;
        }
        80%{
          color: blue;
        }
        100%{
          color: orange;
        }
      }
      